.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    
    display: flex; // sets items within header to row by default
    justify-content: space-between; // justify-content (main axis)-currently left to right
    align-items: center; // align // align-items (cross axis)-currently up and down

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 12rem; // gives the header some room
    }
}

.content {
    display: flex; 

    @media only screen and (max-width: $bp-medium) {
       flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%; // we dont want it to grow if theres space, we also dont want it to shrink if there not enough space, always keep it at 18%
    display: flex; // set to flex-box
    flex-direction: column; //  changes default flex direction from row to column
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;

    flex: 1; // the element should grow as much as it can
}

.detail {
    font-size: 1.4rem; // the children inherit the font size
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
     }

     @media only screen and (max-width: $bp-small) {
        flex-direction: column; // stacks everything in column format at this breakpoint
    }
}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%; // dont grow, dont shrink, occupie 60% of parent
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
     }

     @media only screen and (max-width: $bp-large) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1; // occupies the remaining space;

    display: flex;
    flex-direction: column;
    align-items: center;
}