.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; // sets other elements in front
    opacity: .15;
    overflow: hidden; // very imporntant for keeping elements within the video

    &__content {
        height: 100%;
        width: 100%; 
        object-fit: cover;// fills parent while maintaining aspect ratio // im not sure what this is for something to do with the aspect ratio but i dont see a diffrence without it
    }
}