.form{
    &__group:not(:last-child) { // style everything but the last child
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        // font family not automatically inherited from parent in an input
        font-family: inherit; // with inherit this is fixed
        color: inherit; // also manually inherit the color
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;

        @include respond(tab-port) { // responsive mixin
            width: 100%;
        }

        &:focus {
            outline: none; // for accessability when disabling a focus outline a box shadow can be a good replacement
            box-shadow: 0 1rem 2rem rgba($color-black, .3);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid { // invalad focused input
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
           color: $color-grey-dark-2;
        }
    }


 &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;

    }
    &__input:placeholder-shown + &__label {
        opacity: 0; // opacity is needed to animate
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;

        @include respond(tab-port) { // responsive mixin
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size; 
        cursor: pointer;   
        position: relative; // nessessary for position absolute of child
        padding-left: 4.5rem;
    }

    &__radio-button { // custom radio buttons
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position:absolute; // parent must have a position specified
        left: 0;
        top: -.65rem;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;  // just like above parent position has to be set for this to work
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after { // when the radio input is checked , select the sibling , then child of said sibling
        opacity: 1;
    }
}